Data Wrangling

1) Cleaning Data

Dealing with missing data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('single_family_home_values.csv') #df = dataframe

In [3]:
df.head(2) # previews the first two rows of the dataframe

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.84916,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.88802,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963

In [4]:
type(df) #shows the type of the variable

pandas.core.frame.DataFrame

In [5]:
df.shape # describes the number of rows and columns of the dataframe

(15000, 18)

In [6]:
df.info() # summary of each column of the dataframe --> can check for missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   address          15000 non-null  object
 2   city             15000 non-null  object
 3   state            15000 non-null  object
 4   zipcode          15000 non-null  int64
 5   latitude         14985 non-null  float64
 6   longitude        14985 non-null  float64
 7   bedrooms         15000 non-null  int64
 8   bathrooms        15000 non-null  float64
 9   rooms            15000 non-null  int64
 10  squareFootage    15000 non-null  int64
 11  lotSize          15000 non-null  int64
 12  yearBuilt        14999 non-null  float64
 13  lastSaleDate     15000 non-null  object
 14  lastSaleAmount   15000 non-null  int64
 15  priorSaleDate    11173 non-null  object
 16  priorSaleAmount  11287 non-null  float64
 17  estimated_value  15000 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.1+ MB

In [7]:
df.describe() #statistics for each column with numerical values

,id,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleAmount,priorSaleAmount,estimated_value
count,1.500000e+04,15000.000000,14985.000000,14985.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.00000,14999.000000,1.500000e+04,1.128700e+04,1.500000e+04
mean,5.176229e+07,80204.919467,39.740538,-104.964076,2.708400,2.195067,6.164133,1514.504400,5820.76620,1929.517168,4.053563e+05,2.594350e+05,6.371625e+05
std,6.190876e+07,9.715263,0.023555,0.039788,0.897231,1.166279,1.958601,830.635999,3013.27947,29.937051,7.756998e+05,3.379387e+05,5.044185e+05
min,1.433670e+05,80022.000000,39.614531,-105.108440,0.000000,0.000000,0.000000,350.000000,278.00000,1874.000000,2.590000e+02,0.000000e+00,1.477670e+05
25%,1.004802e+07,80205.000000,39.727634,-104.978737,2.000000,1.000000,5.000000,986.000000,4620.00000,1907.000000,1.940000e+05,1.100000e+05,3.984348e+05
50%,2.563241e+07,80206.000000,39.748048,-104.957689,3.000000,2.000000,6.000000,1267.500000,5950.00000,1925.000000,3.200000e+05,2.100000e+05,5.183575e+05
75%,5.114222e+07,80207.000000,39.758214,-104.937522,3.000000,3.000000,7.000000,1766.250000,6270.00000,1949.000000,4.632000e+05,3.302400e+05,6.879692e+05
max,3.209481e+08,80209.000000,39.888020,-104.830930,15.000000,12.000000,39.000000,10907.000000,122839.00000,2016.000000,4.560000e+07,1.600000e+07,1.014531e+07

In [ ]:
df.fillna(df.mean()) # fills missing values with the mean value of the column

In [ ]:
df.dropna(inplace=True) # deletes rows where there is NA in a column

Check for outliers

In [ ]:
import seaborn as sns

In [ ]:
df.estimated_value # use _ because it does not deal with spaces

# or df['estimated_value']

In [ ]:
df[['estimated_value','yearBuilt','priorSaleAmount']].head(2) # you are giving a list

In [ ]:
sns.boxplot(df.estimated_value)

In [ ]:
df= df[df.estimated_value<=800000] #slices df based on outliers; inside [] it is a bool

In [ ]:
sns.boxplot(df.estimated_value)

In [ ]:
df.estimated_value.hist()

In [ ]:
df.zipcode.unique() # gets unique zipocde values

In [ ]:
df[(df.estimated_value<=1000000) | (df.yearBuilt>2013) & (df.zipcode==80209)]

In [ ]:
sns.pairplot(df[['lastSaleAmount','estimated_value']]) # to correlate

In [ ]:
sns.stripplot(x=df.zipcode, y=df.estimated_value)

In [ ]:
sns.violinplot(x=df.zipcode, y=df.estimated_value)

In [ ]:
df['priorSaleDate'] = pd.to_datetime(df.priorSaleDate)
df['lastSaleDate'] = pd.to_datetime(df.lastSaleDate)

In [ ]:
df['weekday_lastSaleDate'] = df.lastSaleDate.dt.weekday_name
df['year_lastSaleDate'] = df.lastSaleDate.dt.year
df['weekday_priorSaleDate'] = df.priorSaleDate.dt.weekday_name
df['year_priorSaleDate'] = df.priorSaleDate.dt.year

In [ ]:
df['year_between_last_sales'] = df.year_lastSaleDate - df.year_priorSaleDate #new column

In [ ]:
df.corr() # correlations of all numeric fields

In [ ]:
df.corr().loc['estimated_value',:].sort_values(ascending=False) # correlates estimated value with every column in ascending order

In [ ]:
df.groupby('zipcode').estimated_value().mean().reset.index()

In [ ]:
df2=df.groupby('zipcode').estimated_value().median().reset.index()

In [ ]:
df3=pd.merge(df, df2,on='zipcode',how='left')