In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train_distance_matrix.csv")

In [3]:
df.head(5)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,gc_distance,trip_duration,google_distance,google_duration
0,id0190469,2,1/1/2016 0:00,1/1/2016 0:14,5,-73.981743,40.719158,-73.938828,40.829182,N,7.928830,849,15309.0,1109.0
1,id1665586,1,1/1/2016 0:00,1/1/2016 0:22,1,-73.985085,40.747166,-73.958038,40.717491,N,2.492482,1294,9970.0,1277.0
2,id1078247,2,1/1/2016 0:01,1/1/2016 0:03,1,-73.973335,40.764072,-73.974854,40.761734,N,0.180099,114,289.0,79.0
3,id3609443,1,1/1/2016 0:01,1/1/2016 0:21,2,-73.993103,40.752632,-73.953903,40.816540,N,4.869948,1204,9821.0,1274.0
4,id3888279,1,1/1/2016 0:01,1/1/2016 0:05,1,-73.982292,40.751331,-73.991341,40.750340,N,0.478682,280,1052.0,345.0

In [18]:
# Based on the pick-up and drop-off latitudes and longitudes, we intend to estimate the Euclidian distance between those two points in meters, that is, the shortest distance in a straight line between them. To do so, we apply the following formula: sqrt((final_lat - initial_lat)^2 + (final_long - initial_long)^2). Yet, to convert the value to meters, we multiply the longitude and latitude differences by 1.1/0.00001, since 1.1 m correspond to 0.00001ยบ in both measures. In the real world, the Euclidian distance is used frequently as a stand-alone tool for applications, in order to find the nearest point of interest.

longitude_difference = np.matrix((np.array(df.dropoff_longitude) - np.array(df.pickup_longitude))*(1.1/0.00001))
latitude_difference = np.matrix((np.array(df.dropoff_latitude) - np.array(df.pickup_latitude))*(1.1/0.00001))
distance = np.sqrt(np.power(latitude_difference, 2) + np.power(longitude_difference, 2))