In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Temperature_Differences_WorldWar2.csv")

In [5]:
df.head(10)

  Weather Station   Latitude  Longitude        Date
0          ABADAN  30.366667      48.25  1943-12-23
1          ABADAN  30.366667      48.25  1944-01-14
2          ABADAN  30.366667      48.25  1944-01-18
3          ABADAN  30.366667      48.25  1944-04-18
4          ABADAN  30.366667      48.25  1944-11-19
5          ABADAN  30.366667      48.25  1944-11-25
6          ABADAN  30.366667      48.25  1945-02-23
7          ABADAN  30.366667      48.25  1945-03-06
8           ACCRA   5.600000      -0.30  1942-08-21
9           ACCRA   5.600000      -0.30  1943-06-05